.my-snakes-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 20px 0px;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.my-snake-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
}

.my-snake-photo {
  img {
    border-radius: 50%;
  }
}

