.show-wrapper {;
  min-width: 700px;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  background-color: $snake-backgroud;
}

.show-container {
  min-width: 300px;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 90px;
  background-color: $snake-backgroud-form;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.show-photo {
  position: absolute;
  border-radius: 50%;
  top: -125px;
  left: -150px;
  border: 4px solid rgba(80, 80, 80, 0.65);
}


.picture-title {
  position: relative;
  display: flex;
  align-itmes: center;
  justify-content: space-around;
}

html {
  @media (max-width: 850px) {
    .show-name {
      margin-top: 130px;
    }
    .detail-div {
      display: block;
    }
  }
}

html {
  @media (max-width: 1000px) and (min-width: 850px) {
    .show-name {
      margin-top: 130px;
    }
    .show-details {
      margin: 0 auto;
    }
  }
}

html {
  @media (min-width: 1000px) {
    .show-details {
      h3 {
        display: inline-block;
      }
      h2 {
        display: inline-block;
      }
      width: 65%;
      margin: 0 auto;
    }
  }
}

.show-name {
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: 55px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h1 {
    display: inline;
    font-family: $snake-h1-font;
    font-size: $snake-h1-size;
    color: $snake-h1-color;
  }
}

.show-details {
  // max-width: 400px;
  margin-top: 20px;
  padding: 5px 10px;
  padding-left: 20px;
  h2 {
    margin: 0px;
    font-family :$snake-h2-font;
    font-size: $snake-h2-size;
    color: $snake-h2-color;
  }
  h3 {
    margin: 0px;
    font-family :$snake-h3-font;
    font-size: $snake-h3-size;
    color: $snake-h3-color;
  }
}

.detail-div {
  margin: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.book-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

.show-banner {
  h1{
    font-family: $snake-h1-font;
    font-size: 60px;
    color: white
  }
  height: 45vh;
}

.user-banner {
  h1{
    font-family: $snake-h1-font;
    font-size: 60px;
    color: white
  }
  height: 30vh;
  margin-bottom: 95px;
}

.form-banner {
  h1{
    font-family: $snake-h1-font;
    font-size: 60px;
    color: white
  }
  height: 23vh;
  margin-bottom: 95px;
}
