.temp {
  width: 100%;
}

.margin-up {
  margin-top: 40px;
}

.index-banner {
  h1{
    font-family: $snake-h1-font;
    font-size: 60px;
    color: white
  }
  height: 25vh;
}

.index-title {
  h1{
    font-family: $snake-h1-font;
    font-size: 60px;
    color: $snake-h1-color;
    margin: 50px 0;
  }
}

.card-opacity {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.snake-filter {
  width: 90%;
  margin: 10px auto;
}

.snake-filter-form-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  label {
    padding: 0px 10px 0px 0px;
  }
}

#search_price_lower {
  width: 100px;
}

#search_price_upper {
  width: 100px;
}
