<div class="container">
    <div class="row">
      <div class="col-xs-12">

      <div class="text-center">
      <h1>Index All Snakes Public</h1>
        <ul>
          <% @snakes.each do |snake| %>
            <li><%= link_to snake.name, snake_path(snake) %></li>
          <% end %>
        </ul>
        <%= link_to "Return Home", root_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
