<div class="form-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(70, 173, 114,0.6) 50%), url('https://img.clipartfox.com/41ae2ca010239733a6ee136773a2c4b1_amazon-forest-amazon-forest-clipart_1440-900.jpeg');">
</div>

<% path = "/snakes/#{@snake_id}/bookings" %>

<div class=" sign-up-form">
  <div class="text-center signup-title">
    <p>Booking</p>
  </div>
<form action="<%= path %>" method="POST">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>From:</p>
  <input type="text" data-provide='datepicker' name="booking[from]" >
  <p>Until:</p>
  <input type="text" data-provide='datepicker' name="booking[until]" >
  <input type="submit" value="Submit">
</form>

</div>

<style>

  input {
    display: block;
  }

  td:hover {
    cursor: pointer;
  }

  th:hover {
    cursor: pointer;
  }

</style>


