<div class="form-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(70, 173, 114,0.6) 50%), url('https://img.clipartfox.com/41ae2ca010239733a6ee136773a2c4b1_amazon-forest-amazon-forest-clipart_1440-900.jpeg');">
</div>

<% path = "/snakes/#{@snake_id}/bookings" %>

<div class="booking-form-container">
  <div class="text-center booking-title">
    <h1>Book <%= Snake.find(@snake_id).name %></h1>
  </div>
<form action="<%= path %>" method="POST" class="booking-form">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <div class="text-center">
    <h3>From:</h3>
    <input type="text" data-provide='datepicker' name="booking[from]" required="required">
  </div>
  <div class="text-center">
    <h3>Until:</h3>
    <input type="text" data-provide='datepicker' name="booking[until]" required="required">
  </div>
  <input type="submit" value="Submit" class="btn btn-danger" id="booking-submit">
</form>

</div>



