<footer >
  <div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <a href = "https://twitter.com/dailysnake"  class="btn btn-social-icon btn-twitter">
          <span class="fa fa-twitter"></span>
        </a>
        <a href ='https://youtu.be/miFnurgzumk' target="blank" class="btn btn-social-icon btn-youtube">
          <span class="fa fa-youtube"></span>
        </a>
        <a href = "https://www.facebook.com/Snake-Lovers-355769351119803/"  class="btn btn-social-icon btn-facebook">
          <span class="fa fa-facebook"></span>
        </a>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3 class="footer-text">Contact Us<h3>
        <a href="tel:18475555555" class ="footer-number">You Can Hiss</a>

      </div>
    </div>
  </div>
</div>


</footer>
