<div class="the-footer">
  <div class="social-media-footer-box">
    <ul class="list-inline">
      <li><a href="https://twitter.com/dailysnake" class="fa fa-twitter"></a></li>
      <li><a href="https://www.facebook.com/Snake-Lovers-355769351119803" class="fa fa-facebook"></a></li>
      <li><a href="https://youtu.be/miFnurgzumk" class="fa fa-youtube"></a></li>
    </ul>
  </div class="the-other-box">
  <div>
  </div>
</div>
