/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background-image: url('http://res.cloudinary.com/dxvq7itog/image/upload/v1491882099/alternative-footer_edwwpn.jpg');
}
.alert-warning {
  background-image: url('http://res.cloudinary.com/dxvq7itog/image/upload/v1491882099/alternative-footer_edwwpn.jpg');
}


/*.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

  */
