.sign-in-form {
  width: 25vw;
  margin: 20px auto;
  background-color: #f2f2f2;
  border-radius: 3px;
  padding: 20px 10px;
  abbr {
    display: none;
  }
}

.signin-title {
  h2 {
    margin: 0px 0px 10px 0px;
  }
}

.shared-links {
  margin-top: 15px;
  a {
    margin: 0px 0px;
  }
}
